.meal-plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .meal {
    /* width: 300px; */
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .meal h3 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .meal ul {
    list-style-type: none;
    padding: 0;
  }
  
  .meal ul li {
    margin-bottom: 5px;
  }
  
  /* Style for different meal options */
  .meal ul li:nth-child(odd) {
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
  }
  