/* Footer.css */
.footer-container {
    background-color: #1a1a1a; 
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
    animation: slide-up 0.5s ease-in-out; /* Slide-up animation */
}

.footer-section h3 {
    color: #ffc107; /* Yellow text color */
    font-size: 24px;
    font-family: 'Arial', sans-serif; /* Change font family */
    margin-bottom: 15px;
}

.footer-section p {
    color: #ccc; /* Light gray text color */
    font-size: 16px; /* Increase font size */
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
}

.footer-section ul li {
    color: #ccc; /* Light gray text color */
    margin-bottom: 5px;
    font-size: 16px; /* Increase font size */
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #fff; /* White social icon color */
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition */
}

.social-icons a:hover {
    color: #1abc9c; /* Light green hover color */
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc; /* Light gray border top */
    color: #ccc; /* Light gray text color */
    animation: fade-in 0.5s ease-in-out; /* Fade-in animation */
}

.footer-bottom p {
    font-size: 14px;
}
