/* Footer.css */

.footer-container {
    background-color: #2c3e50; /* Dark blue background */
    padding: 10px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
    animation: slide-up 0.5s ease-in-out; /* Slide-up animation */
  }
  
  .footer-section h3 {
    color: #fff; /* White text color */
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .footer-section p {
    color: #eee; /* Light gray text color */
  }
  
  .footer-section ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer-section ul li {
    color: #ccc; /* Medium gray text color */
    margin-bottom: 5px;
  }
  
  .social-icons {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .social-icons a {
    color: white; /* White social icon color */
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition */
    font-weight: bold;
  }
  
  .social-icons a:hover {
    color: #1abc9c; /* Light green hover color */
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #34495e; /* Darker blue border top */
    color: #ccc; /* Medium gray text color */
    animation: fade-in 0.5s ease-in-out; /* Fade-in animation */
  }
  
  .footer-bottom p {
    font-size: 14px;
  }
  
  /* Keyframe animations */
  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  