.home-container {
  
    width: 90%;
    display: flex;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100vw;
    margin-left: 130px;
    margin-bottom: 20px;
    /* margin-left:200px ; */
    /* font-family:; */
    text-align: center;
    font-weight: bold;
    animation: fadeInLeft 1s ease;
    font-size: large;
  }
  
  .description p {
    animation: fadeInLeft 1s ease;
  }
  
  .other-content {
    flex: 1;
    /* Styles for the right side content */
  }
  
  /* Example animation */
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  