.navbar {
  background-color: #4CAF50; /* Dark green background */
  color: black; /* Text color */
}

.navbar-container { 
  background-color: #4CAF50; /* Dark green background */
  color: white; /* Text color */
  display: flex; /* Set display to flex */
  justify-content: space-between; /* Spread items horizontally */
  align-items: center; /* Center vertically */
}
/* Navbar.css */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

#logo{
  height: 60px;
}

.logo h3 {
  margin-left: 10px;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.button:last-child {
  margin-right: 0;
}

