.navbar {
  background-color: #4CAF50; /* Dark green background */
  color: black; /* Text color */
  padding: 20px; /* Padding around the navbar */
}

.navbar-container {
  background-color: #4CAF50; /* Dark green background */
  color: black; /* Text color */
  padding: 5px; /* Adjusted padding around the navbar */
  display: flex; /* Set display to flex */
  justify-content: space-between; /* Spread items horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 600px; /* Additional margin if needed */
}

.login-button {
  margin-right: 20px; /* Adjust margin to separate logo from login button */
}

.login-button a {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.login-button a:hover {
  background-color: black; /* White background on hover */
  color: white; /* Dark green text on hover */
}

/* Animation for login button */
.login-button a {
  animation: pulse 1.5s infinite alternate; /* Pulse animation */
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#logo {
  height: 70px;
  margin-left: 20px;
}
